@model Expenses
@{
    ViewData["Title"] = "CreateExpenses";
}

<form method="post" asp-action="CreateExpenses">
    <div class="border p-3">
        <!--<div asp-validation-summary="All" class="text-danger"></div>-->
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Expenses</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        Expenses Name
                    </div>
                    <div class="col-4">
                        Amount
                    </div>
                    <div class="col-4">
                        Expense Category
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="ExpensesName" class="form-control" />
                        <span asp-validation-for="ExpensesName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <select asp-for="ExpenseCategoryId" asp-items="@ViewBag.type" class="form-control">
                            <option>--Select Expense Category-- </option>
                        </select>
                        <span asp-validation-for="ExpenseCategoryId" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 text-center row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Create Expenses" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
